[
  {rabbit, [
	{auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
      {rabbitmq_auth_backend_oauth2, [
		{resource_server_id, <<"rabbitmq">>},
	    { extra_scopes_source, << "scope" >>},
		{key_config, [
		  {default_key, <<"kid">>},
		  {jwks_url, <<"https://ids.ceis.tw/.well-known/openid-configuration/jwks">>}
		]}
	  ]}
].