%% A classic format snippet, now used by advanced.config files.
[
  {rabbit, [{auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
  
      {rabbitmq_auth_backend_oauth2, [
	    { extra_scopes_source, << "scope" >>},
		{key_config, [
		  {default_key, <<"kid">>},
		  {jwks_url, <<"">>}
		]
	  ]
].